@use "../styles/page.style" as *;
@use "../styles/global.style" as *;
@use "../styles/function/flex" as *;
@use "../styles/fonts/typography" as *;
@use "../styles/color/sementic" as *;
@use "../styles/shape/shape" as *;

.intro {
  img {
    width: 100%;
    height: 100%;
  }
}

.description {
  @include flex-center;
  padding: 200px 0;
  background-color: var(--Fill-Neutral);
  position: relative;

  .text-container {
    @include flex-center;
    position: relative;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
  }

  p {
    @include Display2-SemiBold;
    line-height: 1.6;
    text-align: center;
    width: 100%;
  }
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 10%;
  background-color: var(--Background-Alternative);

  .feature-text {
    .feature-container {
      @include flex-center;
      position: relative;
      width: 100%;
      min-height: 120px;
      overflow: hidden;
    }

    .feature-category {
      color: var(--Primary-Normal);
      @include Body-Bold;
      text-transform: uppercase;
    }

    h2 {
      @include Display2-Bold;
      margin: 10px 0;
    }

    p {
      @include Body-Medium;
    }
  }

  .feature-image {
    img {
      width: 400px;
      height: auto;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
  }
}

.lang-toggle {
  z-index: 10;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--Primary-Normal);
  color: var(--Static-White);
  border: none;
  padding: 10px 20px;
  @include Label-Bold;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: var(--Primary-Dark);
  }
}

.skills {
  padding: 120px 10%;
  background-color: var(--Background-Alternative);
  @include flex-center;
  @include flex-column;

  h2 {
    @include Title2-Bold;
    text-align: center;
    margin-bottom: 40px;
  }

  .skills-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .skills-category {
    background-color: var(--Fill-Neutral);
    padding: 40px;
    border-radius: var(--Shape-ExtraSmall);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-width: 250px;
    flex: 1;
    max-width: 300px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      @include HeadLine1-Bold;
    }

    ul {
      margin-top: 20px;
      padding: 0;
      list-style: none;
    }

    li {
      margin-top: 5px;
      @include Body-Medium;
    }
  }

}

.design-system {
  padding: 100px 10%;
  background-color: var(--Background-Alternative);
  text-align: center;

  .links-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .btn-link {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    color: white;
    background: var(--Primary-Normal);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;

    &:hover {
      background: var(--Primary-Dark);
    }
  }

}

h2 {
  @include Title2-Bold;
  margin-bottom: 40px;
}

.design-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.color {
  @include flex-row;
}

.design-item {
  width: 45%;
  padding: 20px;
  border-radius: var(--Shape-ExtraSmall);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  .flex-row {
    @include flex-row;
  }

  img {
    width: 100%;
    border-radius: var(--Shape-ExtraSmall);
  }
}

.github-links {
  margin-top: 50px;
  text-align: center;

  a {
    display: inline-block;
    padding: 12px 20px;
    @include Label-Bold;
    color: white;
    background: var(--Primary-Normal);
    border-radius: 8px;
    text-decoration: none;
    @include Label-Bold;
    transition: background 0.3s;

    &:hover {
      background: var(--Primary-Dark);
    }
  }
}


.features-container {
  @include flex-column;
  margin-top: 40px;
}

.features {
  padding: 100px;
  @include flex-column;
  background-color: var(--Background-Alternative);
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }
}

.feature-image {
  width: 45%;

  img, video {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
}

.feature-text {
  width: 50%;

  h2 {
    @include Title2-Bold;
  }

  .feature-category {
    color: var(--Primary-Normal);
    font-weight: bold;
    text-transform: uppercase;
  }

  p {
    @include Body-Medium;
    line-height: 1.5;
  }
}


.text-center {
  text-align: center;
}